.reveal p {
font-size: 180%;
}
.rendered_html h1 {
  font-size: 300%;
}
.rendered_html h1 {
  font-size: 300%;
}
.rendered_html h2 {
  font-size: 260%;
}
.rendered_html h3 {
  font-size: 230%;
}
.rendered_html h4 {
  font-size: 200%;
}

.rendered_html li {
  font-size: 180%
}
