<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Albums</title>
  </head>
  <body>
    <h2>All Albums</h2>
    {% for album in albums %}
      <h3>
        <a href='{% url "db:album-detail" album.pk %}'>
          {{ album.title }} by {{ album.artist }} ({{ album.year }})
        </a>
      </h3>
      <h4>Songs:</h4>
        <ul>
        {% for song in album.song_set.all %}
          <li>
            {{ song.track }} — {{ song.title }} {% if song.duration %}({{ song.duration }}){% endif %}
          </li>
        {% endfor %}
        </ul>
    {% endfor %}
  </body>
</html>
